@font-face {
    font-family: 'Norse Bold';
    src: url('Norse-Bold.otf');
}

:root {
    --placement-left: 45%;
    --red-color: #FD0263;
    --second-red: #be024a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body, html {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #030A0B;
}

a {
    color: var(--red-color); 
    text-decoration: none; 
}

a:visited {
    color: var(--second-red); 
}
  
.image-section {
    height: 100vh; 
    width: 35%;
    position: relative; 
}

.fullscreen-img{
    width: 100%;
    height: 100%;
}

.overlay-text {
    position: absolute; 
    bottom: 0%;           
    left: 50%;          
    transform: translate(-50%, -50%); 
    color: white;       
    font-size: 20px;    
    background: rgba(0, 0, 0, 0.8); 
    padding: 10px;
    width: 70%; 
    text-align: center; 
}

.overlay {
    position: absolute; 
    top: 10%;                 
    display: flex;     
    align-items: center; 
    justify-content: center;
    gap: 10px;         
    padding: 10px;     
    background: rgba(0, 0, 0, 0.8); 
    width: 100%;
}

.logo {
    width: 25%; 
    height: auto;
}

.text-logo {
    font-family: 'Norse Bold'; 
    font-size: 8em; 
    color: white; 
    text-transform: uppercase;
}

.body-text {
    position: absolute;
    font-size: 1.3em;
    top: 13%;
    left : var(--placement-left);
    width: 50%;
    color: white;
    line-height: 1.5;
}

.space-text {
    margin-top: 3%;
}

.form-section {
    position: absolute; 
    font-size: 1.3em;
    top: 35%;
    left: var(--placement-left);
    width: 50%;
    color: white;
    line-height: 1.5;
}

.form-text {
    color: var(--red-color);
    margin-bottom: 3%;
}

.signup-form {
    display: flex;
    flex-wrap: wrap; 
    gap: 1.5rem; 
}

.signup-form div {
    flex: 1 1 calc(50% - 1.5rem); 
    display: flex;
    flex-direction: column; 
    min-width: 200px; 
}

.signup-form label {
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--red-color);
    margin-bottom: 0.5rem; 
    letter-spacing: 3px;
}

.signup-form input {
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 85%;
}

.signup-form input::placeholder{
    font-family: "Norse Bold";
}

.signup-form button {
    background-color: var(--red-color);
    color: white;
    padding: 0.8rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-start; 
    width: 25%; 
    margin-top: 1.5rem; 
}

.signup-form button:hover {
    background-color: var(--second-red);
}

.signup-form .log-in {
    margin-top: 2%; 
    width: 100%; 
    font-size: 1.1rem;
}

input:focus{
    border: 3px solid var(--red-color);
    outline: none;
}